<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:usesCleartextTraffic="true"
        android:name=".utils.HiltApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        tools:node="replace"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_zendee"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_zendee_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZENDEE.SplashScreen"
        tools:targetApi="33">

        <activity
            android:name="com.ggd.zendee.feature.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

        </activity>
        <activity
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:exported="false"/>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID" tools:replace="android:value"
            android:value="8j111t4iq1"/>

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

    </application>

</manifest>